rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // MoM documents
    match /moms/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    // You can add other collections here later if needed
  }
}
